<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Favicon -->
  <link href="/psicon.ico" rel="icon">
  <link rel="stylesheet" href="/assets/css/print.css" />
  <link rel="stylesheet" href="/assets/css/styleDuecheck.css" />
</head>

<body>
  <div class="page">
    <table border=0 cellpadding=0 cellspacing=0 width=742 class=xl6418127
    style='border-collapse:collapse;table-layout:fixed;width:559pt'>
    <col class=xl6418127 width=80 style='mso-width-source:userset;mso-width-alt:
    2560;width:60pt'>
    <col class=xl6418127 width=90 style='mso-width-source:userset;mso-width-alt:
    2880;width:68pt'>
    <col class=xl6418127 width=74 style='mso-width-source:userset;mso-width-alt:
    2368;width:56pt'>
    <col class=xl6418127 width=58 style='mso-width-source:userset;mso-width-alt:
    1856;width:44pt'>
    <col class=xl6418127 width=59 style='mso-width-source:userset;mso-width-alt:
    1888;width:44pt'>
    <col class=xl6418127 width=82 style='mso-width-source:userset;mso-width-alt:
    2624;width:62pt'>
    <col class=xl6418127 width=61 style='mso-width-source:userset;mso-width-alt:
    1952;width:46pt'>
    <col class=xl6418127 width=54 style='mso-width-source:userset;mso-width-alt:
    1728;width:41pt'>
    <col class=xl6418127 width=77 style='mso-width-source:userset;mso-width-alt:
    2464;width:58pt'>
    <col class=xl6418127 width=72 style='mso-width-source:userset;mso-width-alt:
    2304;width:54pt'>
    <col class=xl6418127 width=35 style='mso-width-source:userset;mso-width-alt:
    1120;width:26pt'>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td rowspan=4 height=88 width=80 style='height:66.0pt;width:60pt' align=left
     valign=top><![if !vml]><span style='mso-ignore:vglayout;
     position:absolute;z-index:1;margin-left:8px;margin-top:6px;width:64px;
     height:64px'><img width=64 height=64
     src="/images/ps_doc.png" v:shapes="Picture_x0020_1"></span><![endif]><span
     style='mso-ignore:vglayout2'>
     <table cellpadding=0 cellspacing=0>
      <tr>
       <td rowspan=4 height=88 class=xl6518127 width=80 style='height:66.0pt;
       width:60pt'></td>
      </tr>
     </table>
     </span></td>
     <td class=xl6418127 width=90 style='width:68pt'></td>
     <td class=xl6418127 width=74 style='width:56pt'></td>
     <td class=xl6418127 width=58 style='width:44pt'></td>
     <td class=xl6418127 width=59 style='width:44pt'></td>
     <td class=xl6418127 width=82 style='width:62pt'></td>
     <td class=xl6418127 width=61 style='width:46pt'></td>
     <td class=xl6418127 width=54 style='width:41pt'></td>
     <td colspan=2 class=xl6618127 width=107 style='width:80pt'>อ้อย<%= caneGroup %><span style='mso-spacerun:yes'>&nbsp;</span></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=10 height=22 class=xl6618127 style='height:16.5pt'>บริษัท น้ำตาลพิษณุโลก จำกัด</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=10 height=22 class=xl6618127 style='height:16.5pt'>PHITSANULOK SUGAR.CO.,LTD</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=3 height=22 class=xl6518127 style='height:16.5pt'>(เงินบำรุงชาวไร่ 25<%= cropYear %>)</td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6718127>Loan No.</td>
     <td colspan=4 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=11 height=22 class=xl6518127 style='height:16.5pt'></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td height=22 class=xl6418127 align=left style='height:16.5pt'>ชื่อ-สกุล</td>
     <td colspan=3 class=xl6818127><%= quotaName %></td>
     <td class=xl6418127></td>
     <td colspan=2 class=xl6518127>โควตาเลขที่</td>
     <td class=xl7718127><%= quotaNo %></td>
     <td class=xl6518127>สาย</td>
     <td class=xl7718127><%= subZone %></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=2 height=22 class=xl6818127 style='height:16.5pt'>ที่อยู่ และสถานที่ติดต่อ</td>
     <td colspan=9 class=xl6818127><%= addNo +' '+ moo +' '+tambon+' '+amphur+' '+province+' '+zipcode%></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=11 height=22 class=xl6518127 style='height:16.5pt'></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td height=22 class=xl6518127 style='height:16.5pt'>ขอครั้งที่</td>
     <td class=xl6918127><%= rowNun %></td>
     <td class=xl6518127>พื้นที่ ครั้งก่อน</td>
     <td class=xl7118127><%= parseFloat(Number(totalRai-loanCurrentRai)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ไร่</td>
     <td class=xl6518127>พื้นที่ ครั้งนี้</td>
     <td class=xl7118127><%= parseFloat(Number(loanCurrentRai)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ไร่</td>
     <td class=xl6518127>รวมพื้นที่</td>
     <td class=xl7118127><%= parseFloat(Number(totalRai)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ไร่</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td height=22 class=xl6518127 style='height:16.5pt'>รหัสคำขอ</td>
     <td class=xl7018127 style='border-top:none'><%= reqCode %></td>
     <td class=xl6518127>สัญญา ครั้งก่อน</td>
     <td class=xl7418127 style='border-top:none'><%= parseFloat(Number(totalTon-loanCurrentTon)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ตัน</td>
     <td class=xl6518127>สัญญา ครั้งนี้</td>
     <td class=xl7418127 style='border-top:none'><%= parseFloat(Number(loanCurrentTon)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ตัน</td>
     <td class=xl6518127>รวมสัญญา	</td>
     <td class=xl7118127><%= parseFloat(Number(totalTon)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl7318127>ตัน</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=11 height=22 class=xl6518127 style='height:16.5pt'></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=3 height=22 class=xl6518127 style='height:16.5pt'>ทำสัญญาส่งอ้อย ปี 25<%= cropYear %> (ครั้งนี้) จำนวน</td>
     <td class=xl7118127><%= parseFloat(Number(loanCurrentTon)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>ตัน จำนวน</td>
     <td class=xl7118127><%= parseFloat(Number(loanCurrentRai)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>ไร่ จ่ายตันละ</td>
     <td class=xl7118127 align=right><%= parseFloat((loanCurrent/loanCurrentTon).toFixed(2)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท เป็นเงิน</td>
     <td class=xl7118127><%= parseFloat(Number(loanCurrent)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td colspan=11 height=22 class=xl6518127 style='height:16.5pt'></td>
    </tr>
    <tr height=22 style='mso-height-source:userset;height:16.5pt'>
     <td height=22 class=xl6718127 style='height:16.5pt'></td>
     <td colspan=4 class=xl6518127>( <%= loanCurrentBaht %> )</td>
     <td class=xl7318127>แบ่งเป็นงวด</td>
    <td class=xl6918127 align=center><%= dueCount %></td>
     <td class=xl6518127>งวด ดังนี้</td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='mso-height-source:userset;height:15.75pt'>
     <td colspan=11 height=21 class=xl6518127 style='height:15.75pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>1.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=2 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่  22 ธ.ค. 25<%= cropBack1 %>  จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due0)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท<span style='mso-spacerun:yes'>&nbsp;&nbsp;</span></td>
     <td colspan=3 class=xl6518127><span style='mso-spacerun:yes'>&nbsp;</span>( <%= due0Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>2.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=2 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่  7 ม.ค. 25<%= cropCurrent %>  จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due1)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
     <td colspan=3 class=xl6518127>( <%= due1Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>3.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=2 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่  22 ม.ค. 25<%= cropCurrent %>  จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due2)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
     <td colspan=3 class=xl6518127>( <%= due2Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>4.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่ 7 ก.พ. 25<%= cropCurrent %>  จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due3)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
     <td colspan=3 class=xl6518127>( <%= due3Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>5.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่ 22 ก.พ. 25<%= cropCurrent %> จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due4)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
     <td colspan=3 class=xl6518127>( <%= due4Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>6.เช็คธนาคารไทยพาณิชย์</td>
     <td class=xl6418127 align=left>สาขาพิจิตร</td>
     <td class=xl6518127>ผู้รับเช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
     <td class=xl6518127>วันรับเช็ค</td>
     <td colspan=2 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
     <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่  7 มี.ค. 25<%= cropCurrent %> จำนวนเงิน</td>
     <td class=xl6918127 align=right><%= parseFloat(Number(due5)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
     <td class=xl6518127>บาท</td>
     <td colspan=3 class=xl6518127>( <%= due5Text %> )</td>
     <td class=xl6518127>เลขที่เช็ค</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
    </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
     </tr>
     <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>7.เช็คธนาคารไทยพาณิชย์</td>
      <td class=xl6418127 align=left>สาขาพิจิตร</td>
      <td class=xl6518127>ผู้รับเช็ค</td>
      <td colspan=3 class=xl7118127>&nbsp;</td>
      <td class=xl6418127></td>
      <td class=xl6518127>วันรับเช็ค</td>
      <td colspan=2 class=xl7118127>&nbsp;</td>
     </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่ 22 มี.ค. 25<%= cropCurrent %>  จำนวนเงิน</td>
      <td class=xl6918127 align=right><%= parseFloat(Number(due6)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
      <td class=xl6518127>บาท</td>
      <td colspan=3 class=xl6518127>( <%= due6Text %> )</td>
      <td class=xl6518127>เลขที่เช็ค</td>
      <td colspan=3 class=xl7118127>&nbsp;</td>
     </tr>
     <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=11 height=23 class=xl6518127 style='height:17.25pt'></td>
     </tr>
     <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=2 height=23 class=xl6818127 style='height:17.25pt'>8.เช็คธนาคารไทยพาณิชย์</td>
      <td class=xl6418127 align=left>สาขาพิจิตร</td>
      <td class=xl6518127>ผู้รับเช็ค</td>
      <td colspan=3 class=xl7118127>&nbsp;</td>
      <td class=xl6418127></td>
      <td class=xl6518127>วันรับเช็ค</td>
      <td colspan=2 class=xl7118127>&nbsp;</td>
     </tr>
    <tr height=23 style='mso-height-source:userset;height:17.25pt'>
      <td colspan=2 height=23 class=xl6518127 style='height:17.25pt'>ลงวันที่ 7 เม.ย. 25<%= cropCurrent %> จำนวนเงิน</td>
      <td class=xl6918127 align=right><%= parseFloat(Number(due7)).toLocaleString(undefined,{ minimumFractionDigits: 2 }) %></td>
      <td class=xl6518127>บาท</td>
      <td colspan=3 class=xl6518127>( <%= due7Text %> )</td>
      <td class=xl6518127>เลขที่เช็ค</td>
      <td colspan=3 class=xl7118127>&nbsp;</td>
     </tr>
    <tr height=21 style='mso-height-source:userset;height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='mso-height-source:userset;height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6518127>ผู้ตรวจ</td>
     <td colspan=3 class=xl7118127>&nbsp;</td>
     <td class=xl6418127></td>
    </tr>
    <tr height=21 style='mso-height-source:userset;height:15.75pt'>
     <td height=21 class=xl6418127 style='height:15.75pt'></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td class=xl6418127></td>
     <td colspan=2 class=xl7218127><span style='mso-spacerun:yes'></span>( &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; )	</td>
     <td class=xl6418127></td>
    </tr>
    <![if supportMisalignedColumns]>
    <tr height=0 style='display:none'>
     <td width=80 style='width:60pt'></td>
     <td width=90 style='width:68pt'></td>
     <td width=74 style='width:56pt'></td>
     <td width=58 style='width:44pt'></td>
     <td width=59 style='width:44pt'></td>
     <td width=82 style='width:62pt'></td>
     <td width=61 style='width:46pt'></td>
     <td width=54 style='width:41pt'></td>
     <td width=77 style='width:58pt'></td>
     <td width=72 style='width:54pt'></td>
     <td width=35 style='width:26pt'></td>
    </tr>
    <![endif]>
   </table>
</div>
  </body>
  </html>