<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/psicon.ico" rel="icon">
    <link rel="stylesheet" href="/assets/css/print.css" />
    <link rel="stylesheet" href="/assets/css/styleParts.css" />
    <title>PS - Y2J PARTS.</title>
</head>

<body>
  <div class="page">

    <table border=0 cellpadding=0 cellspacing=0 width=742 class=xl7317497
     style='border-collapse:collapse;table-layout:fixed;width:557pt'>
     <col class=xl7317497 width=47 style='mso-width-source:userset;mso-width-alt:
     1504;width:35pt'>
     <col class=xl7317497 width=59 style='mso-width-source:userset;mso-width-alt:
     1888;width:44pt'>
     <col class=xl7317497 width=50 style='mso-width-source:userset;mso-width-alt:
     1600;width:38pt'>
     <col class=xl7317497 width=47 style='mso-width-source:userset;mso-width-alt:
     1504;width:35pt'>
     <col class=xl7317497 width=52 span=7 style='width:39pt'>
     <col class=xl7317497 width=65 style='mso-width-source:userset;mso-width-alt:
     2080;width:49pt'>
     <col class=xl7317497 width=52 style='width:39pt'>
     <col class=xl7317497 width=58 style='mso-width-source:userset;mso-width-alt:
     1856;width:44pt'>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 width=47 style='height:18.0pt;width:35pt'></td>
      <td class=xl7617497 width=59 style='width:44pt'></td>
      <td class=xl7617497 width=50 style='width:38pt'></td>
      <td class=xl7617497 width=47 style='width:35pt'></td>
      <td width=52 style='width:39pt' align=left valign=top><span style='mso-ignore:vglayout;
      position:absolute;z-index:1;margin-left:47px;margin-top:3px;width:244px;
      height:60px'><img width=244 height=60
      src="/assets/images/ps_new_logo.jpg" v:shapes=""></span><span
      style='mso-ignore:vglayout2'>
      <table cellpadding=0 cellspacing=0>
       <tr>
        <td height=24 class=xl7617497 width=52 style='height:18.0pt;width:39pt'></td>
       </tr>
      </table>
      </span></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=52 style='width:39pt'></td>
      <td class=xl7617497 width=65 style='width:49pt'></td>
      <td class=xl7717497 width=52 style='width:39pt'></td>
      <td class=xl7717497 width=58 style='width:44pt'></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7817497></td>
      <td class=xl7717497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7817497></td>
      <td class=xl7717497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7917497>เลขที่อ้างอิง</td>
      <td colspan=2 class=xl7917497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7917497>วันที่</td>
      <td colspan=2 class=xl7917497><%= dateOrder %></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7917497></td>
      <td class=xl8017497>&nbsp;</td>
      <td class=xl8017497>&nbsp;</td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl8017497>&nbsp;</td>
      <td class=xl8017497>&nbsp;</td>
      <td class=xl7917497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
      <td class=xl7717497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl8117497>เรื่อง</td>
      <td colspan=3 class=xl8117497>ขออนุมัติรับอะไหล่รถตัดอ้อย</td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
      <td class=xl8217497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7917497></td>
      <td class=xl8417497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7717497 align=left>เรียน</td>
      <td class=xl7417497 colspan=3 align=left>ผู้อำนวยการด้านจัดหาวัตถุดิบ</td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7917497></td>
      <td class=xl8417497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7717497 align=left>เอกสารแนบ</td>
      <td colspan=6 class=xl7517497>ใบรับสินค้า บริษัท วายทูเจ แมชชีนเนอร์รี่ จำกัด (สาขาพิษณุโลก)</td>
      <td class=xl7917497></td>
      <td class=xl7917497></td>
      <td class=xl7917497></td>
      <td colspan=2 class=xl8517497></td>
      <td class=xl7917497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7917497></td>
      <td class=xl7917497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td colspan=2 class=xl7517497>เนื่องด้วย โควตา <%= quota %></td>
      <td colspan=3 class=xl8617497><%= fullName %></td>
      <td colspan=5 class=xl7917497>เป็นชาวไร่คู่สัญญากับ บริษัท น้ำตาลพิษณุโลก จำกัด ปีการผลิต</td>
      <td class=xl7917497><%= cropYear %></td>
      <td class=xl7617497 align=left>ทำสัญญา</td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl8317497>ไว้ด้วยพื้นที่</td>
      <td class=xl8717497 align=center><%= areaContract %></td>
      <td class=xl7617497 align=left>ไร่ สัญญา</td>
      <td class=xl9417497 align=center style='border-top:none'><%= tonContract %></td>
      <td class=xl7617497 align=left>ตัน โดยปัจจุบัน</td>
      <td colspan=3 align=left class=xl7917497>ส่งอ้อยแล้วในปีการผลิต <%= cropYear %></td>
      <!-- <td class=xl7917497>2566/67</td> -->
      <td class=xl8717497 align=center><%= sumHistoryTon %></td>
      <td colspan=2 class=xl7917497>ตัน คาดการณ์อ้อยคงเหลือ</td>
      <td class=xl8817497 align=center><%= tonRemain %></td>
      <td class=xl7617497 align=left>ตัน</td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=3 class=xl8317497>หนี้สินตามดิวชำระปี <%= cropYear %> คงเหลือ</td>
      <td colspan=2 class=xl8617497 align=center><%= partDeduct %></td>
      <td colspan=6 class=xl8317497>บาท  มีความประสงค์จะขออนุมัติอะไหล่รถตัดอ้อย รายการตามแนบ จำนวน</td>
      <td class=xl8817497 align=center><%= partPrice %></td>
      <td class=xl7617497 align=left>บาท</td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=2 class=xl7517497>และขอให้หักชำระดังนี้</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8817497>&nbsp;</td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7517497></td>
      <td class=xl7517497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497 align=center><input type="checkbox"class="bigCheckbox" name="checkBox1"></td>
      <td colspan=2 class=xl8317497>หักชำระจากค่าอ้อย</td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7917497></td>
      <td class=xl7617497 align=center><input type="checkbox"class="bigCheckbox" name="checkBox2"></td>
      <td colspan=3 class=xl8317497>หักชำระจากรายได้ค่ารับเหมา</td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8517497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td colspan=4 class=xl8317497>จึงเรียนมาเพื่อโปรดพิจารณาอนุมัติ</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497>ขอแสดงความนับถือ</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl8917497>&nbsp;</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl8917497>&nbsp;</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497 align=right>(</td>
      <td colspan=3 class=xl7917497><%= managerName %></td>
      <td class=xl7617497>)</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497>( นางสาวเพชรมณี เนตรเชย )</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497>รองผู้จัดการฝ่ายส่งเสริมและจัดหาอ้อย</td>
      <td class=xl7617497></td>
      <td class=xl7817497></td>
      <td class=xl8417497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497>รองผู้จัดการฝ่ายสำนักงานด้านอ้อย</td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7917497></td>
      <td class=xl7917497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497>/เลขา ผอ.ด้านจัดหาวัตถุดิบ</td>
      <td class=xl8317497></td>
      <td class=xl8317497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
      <td class=xl8317497></td>
      <td class=xl7817497></td>
      <td class=xl9017497></td>
      <td class=xl9017497></td>
      <td class=xl9017497></td>
      <td class=xl9117497></td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
      <td class=xl8317497></td>
      <td class=xl7817497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7817497></td>
      <td class=xl8417497></td>
      <td class=xl8317497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl8317497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=4 class=xl8917497>&nbsp;</td>
      <td class=xl7917497></td>
      <td colspan=3 class=xl7917497></td>
      <td class=xl7917497></td>
      <td colspan=3 class=xl7917497></td>
      <td class=xl7917497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=4 class=xl7917497>( นายเดชฤทธิ์ วังวร )</td>
      <td class=xl9117497><span style='mso-spacerun:yes'>&nbsp;</span></td>
      <td colspan=3 class=xl9217497>( นายสันติ น้อยธรรมราช )</td>
      <td class=xl7817497></td>
      <td colspan=3 class=xl9317497>( นายนิวัตร พัฒนนุสินธุ )</td>
      <td class=xl9117497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=4 class=xl7917497>รักษาการผู้จัดการฝ่ายกลยุทธ์และแผนงานด้านอ้อย/</td>
      <td colspan=5 class=xl7917497>รักษาการผู้จัดการฝ่ายส่งเสริมและจัดหาอ้อย</td>
      <td colspan=3 class=xl7917497>ผู้อำนวยการด้านจัดหาวัตถุดิบ</td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td colspan=4 class=xl7917497>รองผู้จัดการฝ่ายวิเคราะห์และติดตาม/รองเลขานุการผู้บริหาร</td>
      <td class=xl8417497></td>
      <td colspan=3 class=xl7917497></td>
      <td class=xl7617497></td>
      <td colspan=3 class=xl7917497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 style='height:18.0pt' align=left valign=top>
       <span style='mso-ignore:vglayout;
      position:absolute;z-index:2;margin-left:6px;margin-top:7px;width:724px;
      height:53px'><img width=724 height=53
      src="/assets/images/project_footer.png"></span><span
      style='mso-ignore:vglayout2'>
      <table cellpadding=0 cellspacing=0>
       <tr>
        <td height=24 class=xl7617497 width=47 style='height:18.0pt;width:35pt'></td>
       </tr>
      </table>
      </span></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <tr height=24 style='mso-height-source:userset;height:18.0pt'>
      <td height=24 class=xl7617497 style='height:18.0pt'></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
      <td class=xl7617497></td>
     </tr>
     <![if supportMisalignedColumns]>
     <tr height=0 style='display:none'>
      <td width=47 style='width:35pt'></td>
      <td width=59 style='width:44pt'></td>
      <td width=50 style='width:38pt'></td>
      <td width=47 style='width:35pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=65 style='width:49pt'></td>
      <td width=52 style='width:39pt'></td>
      <td width=58 style='width:44pt'></td>
     </tr>
     <![endif]>
    </table>
    
    </div>
    
   
</body>

</html>